.input {
  border: none;
  background-color: transparent;
  font-size: var(--regular-text-size);
  color: var(--text-color);
  padding: 4px 8px;
  width: 100%;
}

.input-disabled {
  color: var(--gray-color);
}
