.button {
  font-size: var(--regular-text-size);
  background-color: var(--white-color);
  padding: 8px 1.2rem;
  border: 1px solid var(--accent-darker-color);
  border-radius: 6px;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.button:hover {
  box-shadow: var(--accent-shadow);
}

.link {
  color: var(--accent-color);
  text-decoration: none;
}
