.add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 8px 1.2rem;
  border-radius: 6px;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-darker-color);
  color: var(--white-color);
  font-size: var(--regular-text-size);
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.add:hover {
  box-shadow: var(--accent-shadow);
}

.add svg {
  height: 1.6rem;
  width: 1.6rem;
}
