.task-item {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  background-color: var(--white-color);
  border: var(--border-lighter-gray);
  border-radius: 8px;
  padding: 1.8rem 1.6rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.task-item:hover {
  border-color: var(--light-gray-color);
}

.task-item-active {
  border-color: var(--light-gray-color);
  box-shadow: var(--card-shadow);
}

.task-item-disabled {
  background-color: var(--lighter-gray-color);
  border: var(--border-lighter-gray);
  box-shadow: none;
  transition: border-color 0.3s;
}

.task-item-disabled:hover,
.task-item-disabled-active {
  border-color: var(--gray-color);
}
