.cancel-btn {
  border: none;
  background-color: transparent;
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: var(--error-light-color);
}

.cancel-btn svg {
  height: 2.2rem;
  width: 2.2rem;
  color: var(--error-color);
}
