:root {
  --background-color: #f4f4f4;
  --text-color: #121212;
  --white-color: #ffffff;
  --light-gray-color: #c5c5c5;
  --lighter-gray-color: #e0e0e0;
  --gray-color: #898989;
  --error-light-color: #ffefef;
  --error-color: #ff7a7a;
  --accent-color: #5484ff;
  --accent-darker-color: #4e74d7;

  --checkbox-shadow: 0 4px 6px rgba(18, 18, 18, 0.05);
  --card-shadow: 0 8px 30px rgba(18, 18, 18, 0.05);
  --accent-shadow: 0 0 3px 2px #bbceff;

  --regular-text-size: 1.6rem;
  --small-text-size: 1.4rem;
  --heading-secondary-size: 2.4rem;

  --border-lighter-gray: 1px solid var(--lighter-gray-color);
  --border-light-gray: 1px solid var(--light-gray-color);
}

/* BODY */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

#root {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  background-color: var(--background-color);
}

html,
body,
#root {
  min-height: 100vh;
}

input[type='checkbox'] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
